body {
    background-color: skyblue;
}

h1 {
    color: white;
    border: 5px solid white;
    padding: 30px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    border: 3px solid white;
    padding: 30px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: 1px solid white;
    padding-left: 30px;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    padding-left: 50px;
}